
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 43rem;
}.mobile-version-54X {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 2.6rem;
  width: 100%;
  overflow: hidden;
  align-items: center;
  position: relative;
  background-color: #ffffff;

  .frame-59-Yio {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-esx1-UMZ {
      box-sizing: border-box;
      padding: 0rem 2.8rem 1.35rem 2rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-MgF {
        margin: 0rem 0.7rem 4.05rem 1.5rem;
        width: calc(100% - 2.2rem);
        height: 3rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .logo-2-3JB {
          height: 3rem;
          position: relative;
          background-size: 99.338% 100%;
          background-position: 0.05rem 0;
          background-image: url('REPLACE_IMAGE:8076e52f229ea58735e7a328c29479c3c369cd19');
          flex-shrink: 0;
          margin-right: 18.9rem;
          width: 15.1rem;
        }
        .div-sY7 {
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.6rem 0rem 0.2rem 0rem;
          width: 2rem;
          height: calc(100% - 0.8rem);
          row-gap: 0.5rem;
          align-items: flex-end;
          display: flex;

          .span-MCP {
            border-radius: 0.5rem;
            flex-shrink: 0;
            width: 100%;
            height: 0.4rem;
            background-color: #ef5537;
          }
          .span-GKM {
            height: 0.4rem;
            background-color: #ef5537;
            border-radius: 0.5rem;
            flex-shrink: 0;
            width: 1.4rem;
          }
          .span-AQj {
            flex-shrink: 0;
            width: 100%;
            height: 0.4rem;
            background-color: #ef5537;
            border-radius: 0.5rem;
          }
        }
      }
      .best-animation-video-production-company-URR {
        color: #1a1a1a;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 38.2rem;
        display: flex;
        font-size: 3.4rem;
        font-weight: 400;
        line-height: 1.3618164062;

        .best-animation-video-production-company-URR-sub-0 {
          font-size: 3.4rem;
          font-weight: 400;
          line-height: 1.3625;
          color: #1a1a1a;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .best-animation-video-production-company-URR-sub-1 {
          font-size: 3.4rem;
          font-weight: 400;
          line-height: 1.3625;
          color: #ef5537;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .best-animation-video-production-company-URR-sub-2 {
          font-size: 3.4rem;
          font-weight: 400;
          line-height: 1.3625;
          color: #1a1a1a;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .best-animation-video-production-company-URR-sub-3 {
          font-size: 3.4rem;
          font-weight: 400;
          line-height: 1.3625;
          color: #ef5537;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .best-animation-video-production-company-URR-sub-4 {
          line-height: 1.3625;
          color: #1a1a1a;
          font-family: Open Sans, 'Source Sans Pro';
          font-size: 3.4rem;
          font-weight: 400;
        }
      }
    }
    .auto-group-zxuq-PcF {
      width: 100%;
      height: 45.3rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-25-5zs {
        background-position: -1.988rem -0.1568rem;
        background-image: url('REPLACE_IMAGE:d9ed837fc898f92fa2fc49fe6add0d1882787467');
        width: 43rem;
        height: 43.1rem;
        position: relative;
        left: 0;
        top: 2.2rem;
        background-size: 116.255% 116.005%;
      }
      .according-to-forbes-a-video-can-boost-conversion-rate-by-80-and-grow-revenue-by-average-49-uyu {
        width: 39.1rem;
        position: absolute;
        color: #1a1a1a;
        font-family: Open Sans, 'Source Sans Pro';
        height: 6.4rem;
        left: 2rem;
        top: 0;
        display: flex;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2;
      }
      .ic-baseline-play-arrow-74P {
        left: 18.5rem;
        top: 26.6rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 20rem;
        width: 5rem;
        height: 5rem;
        position: absolute;
      }
    }
    .form-Nm1 {
      display: flex;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.95rem 2.5rem 3.1rem 2.5rem;
      width: calc(100% - 4rem);
      overflow: hidden;
      background-color: #2a2a2a;
      margin: 0 2rem;
      position: relative;
      align-items: center;
      flex-direction: column;

      .speak-to-our-video-experts-DWj {
        display: flex;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3625;
        white-space: nowrap;
        margin: 0rem 0rem 1.95rem 0.1rem;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .auto-group-fezh-539 {
        flex-shrink: 0;
        margin-bottom: 2rem;
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: center;

        .auto-group-twoh-akb {
          padding: 1.35rem 0rem 1.15rem 0rem;
          width: 15rem;
          font-weight: 400;
          color: #ffffff;
          white-space: nowrap;
          border: solid 0.1rem #ffffff;
          box-sizing: border-box;
          height: 100%;
          line-height: 1.3625;
          flex-shrink: 0;
          margin-right: 4rem;
          font-size: 1.4rem;
          font-family: Open Sans, 'Source Sans Pro';
          display: flex;
        }
        .auto-group-f5f1-ZsR {
          line-height: 1.3625;
          flex-shrink: 0;
          box-sizing: border-box;
          display: flex;
          font-weight: 400;
          font-size: 1.4rem;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          border: solid 0.1rem #ffffff;
          padding: 1.35rem 0rem 1.15rem 0rem;
          width: 15rem;
          height: 100%;
        }
      }
      .auto-group-ro5d-PbZ {
        box-sizing: border-box;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
        border: solid 0.1rem #ffffff;
        margin-bottom: 2rem;
        padding: 1.35rem 0rem 1.15rem 0rem;
        width: 100%;
        line-height: 1.3625;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .auto-group-sxx1-dF1 {
        font-weight: 400;
        color: #ffffff;
        border: solid 0.1rem #ffffff;
        flex-shrink: 0;
        margin-bottom: 2rem;
        box-sizing: border-box;
        display: flex;
        line-height: 1.3625;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        padding: 1.35rem 0rem 1.15rem 0rem;
        width: 100%;
        font-size: 1.4rem;
      }
      .auto-group-z4mq-TE3 {
        font-size: 1.4rem;
        font-weight: 400;
        width: 100%;
        height: 13rem;
        font-family: Open Sans, 'Source Sans Pro';
        border: solid 0.1rem #ffffff;
        display: flex;
        line-height: 1.3625;
        color: #ffffff;
        flex-shrink: 0;
        margin-bottom: 3rem;
        box-sizing: border-box;
        padding: 1.35rem 0;
        white-space: nowrap;
      }
      .a-VRd {
        font-family: Open Sans, 'Source Sans Pro';
        justify-content: center;
        margin-right: 19.7rem;
        height: 4.4rem;
        font-weight: 600;
        text-transform: capitalize;
        align-items: center;
        box-sizing: border-box;
        flex-shrink: 0;
        font-size: 1.4rem;
        color: #ffffff;
        white-space: nowrap;
        border: solid 0.1rem #ffffff;
        width: 14.3rem;
        display: flex;
        line-height: 1.4285714286;
        border-radius: 0.4rem;
      }
    }
  }
  .auto-group-a5ns-58w {
    padding: 6.1rem 0rem 4.3rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .frame-48-ZK1 {
      flex-shrink: 0;
      margin-bottom: 7.1rem;
      width: 39rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .frame-47-TvB {
        width: calc(100% - 13.5rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 6.7rem 5.5rem 6.8rem;

        .our-clients-Ywd {
          margin-bottom: 0.5rem;
          display: flex;
          font-weight: 700;
          font-size: 2.4rem;
          line-height: 1.3625;
          color: #ef5537;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .you-might-have-heard-of-them-2ro {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3625;
          color: #54387f;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
        }
      }
      .div-izX {
        padding: 1.7rem 1rem 0rem 1rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;

        .div-2VR {
          position: relative;
          flex-shrink: 0;
          margin-bottom: 3.8962rem;
          width: 100%;
          height: 3.8038rem;
          overflow: hidden;

          .div-9a3 {
            width: 100%;
            height: 100%;
            display: flex;
            column-gap: 3.5rem;
            align-items: center;

            .shutterstock-logopng-skw {
              background-image: url('REPLACE_IMAGE:00fd406ff90889812ad08f318f05834e5b2bfc96');
              flex-shrink: 0;
              margin-bottom: 0.026rem;
              width: 10rem;
              height: 3.7778rem;
              position: relative;
              background-size: 100% 148.897%;
              background-position: 0 -0.9501rem;
            }
            .shopifypng-hEB {
              flex-shrink: 0;
              width: 10rem;
              height: 3.8038rem;
              object-fit: cover;
              vertical-align: top;
            }
            .waveformjpg-zj5 {
              flex-shrink: 0;
              margin-bottom: 0.0538rem;
              width: 10rem;
              height: 3.75rem;
              position: relative;
              background-size: 100% 150%;
              background-position: 0 -1.1228rem;
              background-image: url('REPLACE_IMAGE:ca53d317f7ac5e31b7509684f49f10a3897c6698');
            }
          }
        }
        .frame-63-Ff1 {
          align-items: center;
          flex-shrink: 0;
          margin: 0 15rem;
          width: calc(100% - 30rem);
          display: flex;
          column-gap: 1rem;

          .of-6-K95 {
            width: 1rem;
            height: 1rem;
            background-color: #ef5537;
            border-radius: 0.5rem;
            flex-shrink: 0;
          }
          .of-6-pbd {
            width: 1rem;
            height: 1rem;
            background-color: #cacaca;
            border-radius: 0.5rem;
            flex-shrink: 0;
          }
          .of-6-8sD {
            height: 1rem;
            background-color: #cacaca;
            border-radius: 0.5rem;
            flex-shrink: 0;
            width: 1rem;
          }
          .of-6-s47 {
            border-radius: 0.5rem;
            flex-shrink: 0;
            width: 1rem;
            height: 1rem;
            background-color: #cacaca;
          }
        }
      }
    }
    .frame-47-aDR {
      flex-shrink: 0;
      margin: 0rem 4rem 5.6rem 2rem;
      width: calc(100% - 6rem);
      align-items: center;
      display: flex;
      flex-direction: column;

      .portfolio-SmR {
        font-size: 2.4rem;
        color: #ef5537;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 0.5rem 0.1rem;
        display: flex;
        font-weight: 700;
        line-height: 1.3625;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .explore-some-of-the-work-were-especially-proud-of-pX5 {
        max-width: 35rem;
        font-size: 1.8rem;
        line-height: 1.3625;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        color: #54387f;
        font-family: Open Sans, 'Source Sans Pro';
      }
    }
    .frame-49-maj {
      margin-bottom: 4.7rem;
      width: 65.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-2-euR {
        width: 100%;
        height: 2.3rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-yojs-bTH {
          flex-shrink: 0;
          line-height: 1.3625;
          font-family: Open Sans, 'Source Sans Pro';
          margin-right: 5rem;
          width: 2rem;
          display: flex;
          height: 100%;
          box-sizing: border-box;
          font-weight: 600;
          color: #54387f;
          white-space: nowrap;
          border-bottom: solid 0.1rem #54387f;
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
        }
        .finance-CCB {
          color: #2a2a2a;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.3625;
          margin-right: 5rem;
          display: flex;
          justify-content: center;
          flex-shrink: 0;
        }
        .technology-sJK {
          margin-right: 5.05rem;
          display: flex;
          justify-content: center;
          font-weight: 600;
          color: #2a2a2a;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          font-size: 1.6rem;
          line-height: 1.3625;
          flex-shrink: 0;
        }
        .education-Lxb {
          display: flex;
          font-size: 1.6rem;
          line-height: 1.3625;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 5.05rem;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          color: #2a2a2a;
          flex-shrink: 0;
        }
        .manufacturing-DFh {
          color: #2a2a2a;
          font-family: Open Sans, 'Source Sans Pro';
          margin-right: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          line-height: 1.3625;
          flex-shrink: 0;
          font-size: 1.6rem;
          white-space: nowrap;
        }
        .retail-Vj1 {
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          color: #2a2a2a;
          display: flex;
          font-size: 1.6rem;
          line-height: 1.3625;
          white-space: nowrap;
        }
      }
      .auto-group-lqmh-bX9 {
        box-sizing: border-box;
        padding-top: 4.1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frame-62-hq5 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 4rem;
          width: 39rem;
          row-gap: 1.5rem;
          align-items: center;

          .auto-group-ufy7-y1u {
            width: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .rectangle-34-gwu {
              flex-shrink: 0;
              margin-right: 2rem;
              width: 18.5rem;
              height: 10.3rem;
              position: relative;
              background-size: 100% 101.032%;
              background-position: 0 -0.0454rem;
              background-image: url('REPLACE_IMAGE:18b2d5f4357a1349ce2ada44a1aef7be95ef72dc');
            }
            .rectangle-35-LFm {
              position: relative;
              background-size: 100% 101.032%;
              background-position: 0 -0.0454rem;
              background-image: url('REPLACE_IMAGE:00c48a0b9923cab2c7c18e33d2f621d5b0051160');
              flex-shrink: 0;
              width: 18.5rem;
              height: 10.3rem;
            }
          }
          .auto-group-fnsx-Z8X {
            width: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .rectangle-36-giw {
              width: 18.5rem;
              height: 10.4rem;
              position: relative;
              background-size: 100% 100.06%;
              background-position: 0 0.0699rem;
              background-image: url('REPLACE_IMAGE:057138fb0573625abf7314a046d7281e66237ca7');
              flex-shrink: 0;
              margin-right: 2rem;
            }
            .rectangle-37-MKH {
              height: 10.4rem;
              position: relative;
              background-size: 100% 100.06%;
              background-position: 0 0.0699rem;
              background-image: url('REPLACE_IMAGE:aa37df660f10f019b3501dfb53c3a8bd29669785');
              flex-shrink: 0;
              width: 18.5rem;
            }
          }
          .auto-group-hgh1-18w {
            width: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .rectangle-38-KvK {
              height: 10.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 2rem;
              width: 18.5rem;
            }
            .rectangle-39-2Zq {
              flex-shrink: 0;
              width: 18.5rem;
              height: 10.4rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .frame-wB1 {
          display: flex;
          justify-content: center;
          color: #ef5537;
          border: solid 0.1rem #ef5537;
          box-sizing: border-box;
          margin-left: 10.8rem;
          font-size: 1.7rem;
          line-height: 1.3625;
          white-space: nowrap;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          width: 17.5rem;
          height: 4.4rem;
          align-items: center;
          font-weight: 400;
          background-color: #ffffff;
          border-radius: 20rem;
        }
      }
    }
    .frame-51-WtK {
      flex-shrink: 0;
      margin: 0rem 0rem 5.8rem 0.15rem;
      width: 111.5rem;

      .frame-47-DGw {
        margin: 0rem 72.8rem 6.45rem 0rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .about-us-6Lj {
          margin-bottom: 1.8rem;
          display: flex;
          font-size: 2.4rem;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 700;
          line-height: 1.3625;
          color: #ef5537;
        }
        .about-our-video-creation-company-amh {
          white-space: nowrap;
          display: flex;
          align-items: center;
          color: #54387f;
          line-height: 1.3625;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          justify-content: center;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
      .frame-50-4Ry {
        position: relative;
        margin-bottom: 4.3rem;
        width: 100%;
        height: 28.65rem;

        .frame-11-MR5 {
          display: flex;
          flex-direction: column;
          width: 38.7rem;
          height: 28.65rem;
          position: absolute;
          left: 0;
          top: 0;
          align-items: center;

          .frame-15-fAs {
            margin: 0rem 7.05rem 2.5rem 10.15rem;
            width: calc(100% - 17.2rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .item-2000-x9y {
              margin-top: 0.85rem;
              display: flex;
              color: #54387f;
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 8rem;
              font-weight: 600;
              line-height: 1.3625;
              letter-spacing: 0.05rem;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .item--29q {
              font-weight: 600;
              letter-spacing: 0.05rem;
              color: #54387f;
              font-family: Open Sans, 'Source Sans Pro';
              flex-shrink: 0;
              display: flex;
              line-height: 1.3625;
              white-space: nowrap;
              font-size: 5rem;
            }
          }
          .clients-served-sw9 {
            font-weight: 600;
            line-height: 1.2;
            font-family: Open Sans, 'Source Sans Pro';
            color: #2a2a2a;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
          }
          .weve-been-doing-this-for-years-and-will-be-doing-it-for-many-more-our-client-count-has-touched-the-2k-bar-and-continues-to-grow-with-uninterrupted-momentum-A9Z {
            max-width: 38.7rem;
            align-items: center;
            color: #6a6a6a;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5625;
            font-family: Open Sans, 'Source Sans Pro';
          }
        }
        .frame-9-91V {
          flex-direction: column;
          width: 98.3rem;
          height: 23.45rem;
          position: absolute;
          left: 13.2rem;
          top: 0.2rem;
          align-items: center;
          display: flex;

          .frame-15-RDu {
            width: calc(100% - 86rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 41.45rem 2.5rem 44.55rem;

            .item-17-vAf {
              font-size: 8rem;
              line-height: 1.3625;
              letter-spacing: 0.05rem;
              font-family: Open Sans, 'Source Sans Pro';
              margin-top: 0.65rem;
              font-weight: 600;
              color: #54387f;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
            }
            .item--CP5 {
              color: #54387f;
              white-space: nowrap;
              font-weight: 600;
              font-size: 5rem;
              line-height: 1.3625;
              letter-spacing: 0.05rem;
              font-family: Open Sans, 'Source Sans Pro';
              flex-shrink: 0;
              display: flex;
            }
          }
          .countries-served-HQX {
            font-weight: 600;
            color: #2a2a2a;
            display: flex;
            font-size: 2rem;
            justify-content: center;
            line-height: 1.2;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 4.5rem;
            align-items: center;
          }
          .not-one-not-twoweve-gone-global-exorbitantly-weve-served-more-than-7-countries-and-are-excited-to-add-new-names-to-our-list-yYF {
            font-size: 1.6rem;
            line-height: 1.5625;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            color: #6a6a6a;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
          }
        }
      }
      .frame-52-zCT {
        width: calc(100% - 108.5rem);
        display: flex;
        align-items: center;
        margin: 0rem 90.65rem 0rem 17.85rem;

        .of-6-gb5 {
          background-color: #ef5537;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-right: 1rem;
          width: 1rem;
          height: 1rem;
        }
        .of-6-MhD {
          width: 1rem;
          height: 1rem;
          background-color: #cacaca;
          border-radius: 0.5rem;
          flex-shrink: 0;
        }
      }
    }
    .frame-53-egK {
      margin-left: 0.1rem;
      width: 38.9rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-48-A8s {
        width: calc(100% - 3.2rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 1.65rem 5.5rem 1.55rem;

        .why-us-T7y {
          margin: 0rem 0rem 0.5rem 0.1rem;
          font-weight: 700;
          display: flex;
          font-size: 2.4rem;
          line-height: 1.3625;
          color: #ef5537;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .why-choose-mystery-monks-as-your-video-production-and-animation-company-7CX {
          align-items: center;
          font-size: 1.8rem;
          font-weight: 400;
          font-family: Open Sans, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          line-height: 1.3625;
          color: #54387f;
          flex-shrink: 0;
          max-width: 35.7rem;
        }
      }
      .div-kFV {
        box-sizing: border-box;
        padding: 2.2rem 3.5rem 4.2rem 2rem;
        background-color: #ffffff;
        flex-shrink: 0;
        margin-bottom: 3.7rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: solid 0.15rem #ebebeb;
        border-radius: 0.7rem;

        .thumbs-up-solid-1-3VV {
          flex-shrink: 0;
          margin-bottom: 2.5246rem;
          width: 5rem;
          height: 4.3754rem;
          object-fit: contain;
          vertical-align: top;
        }
        .div-wKy {
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;
          display: flex;

          .error-free-delivery-sjR {
            flex-shrink: 0;
            margin-bottom: 1rem;
            display: flex;
            font-size: 2rem;
            color: #2a2a2a;
            white-space: nowrap;
            font-weight: 600;
            line-height: 1.6;
            letter-spacing: -0.02rem;
            font-family: Open Sans, 'Source Sans Pro';
          }
          .our-creative-directors-ensure-thorough-quality-checks-before-any-deliverable-script-voice-over-renders-animation-etc-goes-out-to-you-koD {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.6666666667;
            color: #6a6a6a;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 33.4rem;
            display: flex;
          }
        }
      }
      .frame-54-XBh {
        column-gap: 1rem;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 16rem 0rem 15.9rem;
        width: calc(100% - 31.9rem);
        display: flex;

        .of-6-1Mm {
          width: 1rem;
          height: 1rem;
          background-color: #ef5537;
          border-radius: 0.5rem;
          flex-shrink: 0;
        }
        .of-6-uxw {
          width: 1rem;
          height: 1rem;
          background-color: #cacaca;
          border-radius: 0.5rem;
          flex-shrink: 0;
        }
        .of-6-SCB {
          flex-shrink: 0;
          width: 1rem;
          height: 1rem;
          background-color: #cacaca;
          border-radius: 0.5rem;
        }
        .of-6-ZGo {
          background-color: #cacaca;
          border-radius: 0.5rem;
          flex-shrink: 0;
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
  .frame-55-FvK {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.8rem 1.9rem 0.3rem 2rem;
    width: 100%;

    .types-of-videos-YPd {
      margin-bottom: 4.9rem;
      font-size: 2.4rem;
      color: #ef5537;
      white-space: nowrap;
      display: flex;
      font-weight: 700;
      line-height: 1.3625;
      font-family: Open Sans, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .div-Dkf {
      flex-shrink: 0;
      margin: 0rem 0.1rem 3.871rem 0rem;
      width: 39rem;
      height: 22rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1.6rem;
    }
    .div-6Jf {
      margin: 0rem 0.1rem 5.8rem 0rem;
      width: 39rem;
      flex-shrink: 0;

      .animated-explainer-video-QKM {
        display: flex;
        line-height: 1.3625;
        white-space: nowrap;
        margin-bottom: 1.2289rem;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: -0.1296rem;
        color: #2a2a2a;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .div-sij {
        width: 100%;
        display: flex;
        flex-direction: column;

        .its-about-time-that-we-throw-out-the-old-ways-of-communicating-with-our-prospects-be-it-a-document-an-image-or-a-presentationtheres-always-something-amiss-catch-up-with-the-current-era-animated-explainer-videos-not-only-get-your-brand-message-across-but-also-give-the-extra-little-push-to-convert-a-maybe-to-a-definite-yes-be-it-a-2d-or-a-3d-video-produced-by-our-explainer-video-company-the-ensemble-of-attractive-visuals-a-breathtaking-voice-over-with-a-mind-blowing-concept-is-unbeatable-Qif {
          max-width: 39rem;
          display: flex;
          font-weight: 400;
          line-height: 1.9285714286;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 2.5rem;
          letter-spacing: -0.034rem;
          color: #6a6a6a;
          font-size: 1.4rem;
        }
        .a-1rs {
          font-size: 1.584rem;
          border-radius: 0.8rem;
          height: 3.8rem;
          display: flex;
          font-weight: 400;
          align-items: center;
          color: #ffffff;
          flex-shrink: 0;
          justify-content: center;
          background-color: #ef5537;
          width: 11.4rem;
          line-height: 1.0999999759;
          letter-spacing: -0.0317rem;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .div-aS7 {
      margin: 0rem 0.1rem 3.871rem 0rem;
      width: 39rem;
      height: 22rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1.6rem;
      flex-shrink: 0;
    }
    .div-r8j {
      margin-bottom: 5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .product-explainer-video-yUF {
        font-size: 2rem;
        line-height: 1.3625;
        color: #2a2a2a;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.2289rem;
        display: flex;
        font-weight: 600;
        letter-spacing: -0.1296rem;
      }
      .div-2hR {
        flex-shrink: 0;
        width: 100%;
        display: flex;
        flex-direction: column;

        .what-influences-people-to-buy-one-product-but-not-the-other-is-it-its-composition-its-featuresor-maybe-its-appearance-we-as-a-explainer-video-company-think-how-you-market-your-product-is-what-determines-how-well-it-sells-and-a-2d-or-3d-product-explainer-video-showcasing-your-products-features-appearance-and-composition-can-build-your-sales-from-level-zero-to-infinity-dont-just-advertise-for-the-sake-of-doing-itbe-a-pro-with-a-unique-product-explainer-video-NFV {
          margin-bottom: 2.5rem;
          font-weight: 400;
          letter-spacing: -0.034rem;
          flex-shrink: 0;
          max-width: 39.1rem;
          display: flex;
          font-size: 1.4rem;
          line-height: 1.9285714286;
          color: #6a6a6a;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .a-P47 {
          font-family: Montserrat, 'Source Sans Pro';
          height: 3.8rem;
          font-size: 1.584rem;
          line-height: 1.0999999759;
          white-space: nowrap;
          background-color: #ef5537;
          width: 11.4rem;
          letter-spacing: -0.0317rem;
          align-items: center;
          border-radius: 0.8rem;
          display: flex;
          font-weight: 400;
          color: #ffffff;
          justify-content: center;
          flex-shrink: 0;
        }
      }
    }
    .div-aeP {
      height: 22rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1.6rem;
      flex-shrink: 0;
      margin: 0rem 0.1rem 3.871rem 0rem;
      width: 39rem;
    }
    .div-GGK {
      width: 38.8rem;
      flex-shrink: 0;
      margin: 0rem 0.3rem 5rem 0rem;

      .whiteboard-explainer-video-xuq {
        font-size: 2rem;
        line-height: 1.3625;
        letter-spacing: -0.1296rem;
        color: #2a2a2a;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        font-weight: 600;
        margin-bottom: 1.2289rem;
      }
      .div-dm5 {
        width: 100%;
        display: flex;
        flex-direction: column;

        .keep-it-simple-whiteboard-explainer-videos-give-your-audience-a-ride-back-through-nostalgia-lane-remember-how-your-teacher-could-solve-a-complex-physics-equation-on-the-board-and-make-it-look-so-simple-well-a-whiteboard-explainer-video-does-the-same-for-your-business-get-your-brand-message-across-in-the-most-understandable-way-possible-and-enjoy-the-topping-of-mouthwatering-swiftness-and-eye-catching-visuals-your-next-pit-stop-should-definitely-be-our-explainer-video-company-Nif {
          line-height: 1.9285714286;
          color: #6a6a6a;
          font-size: 1.4rem;
          max-width: 38.8rem;
          display: flex;
          font-weight: 400;
          letter-spacing: -0.034rem;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 2.5rem;
        }
        .a-pDH {
          height: 3.8rem;
          line-height: 1.0999999759;
          color: #ffffff;
          border-radius: 0.8rem;
          background-color: #ef5537;
          display: flex;
          letter-spacing: -0.0317rem;
          font-family: Montserrat, 'Source Sans Pro';
          align-items: center;
          width: 11.4rem;
          flex-shrink: 0;
          font-size: 1.584rem;
          font-weight: 400;
          white-space: nowrap;
          justify-content: center;
        }
      }
    }
    .div-TGF {
      margin: 0rem 0.1rem 3.871rem 0rem;
      width: 39rem;
      height: 22rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1.6rem;
      flex-shrink: 0;
    }
    .div-995 {
      margin-right: 1.2rem;
      width: 37.9rem;
      flex-shrink: 0;

      .live-shoot-fdD {
        font-weight: 600;
        line-height: 1.3625;
        color: #2a2a2a;
        display: flex;
        font-size: 2rem;
        letter-spacing: -0.1296rem;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.2289rem;
      }
      .div-Ywu {
        display: flex;
        flex-direction: column;
        width: 100%;

        .impressions-are-important-and-nothing-can-help-you-introduce-your-brand-to-the-world-better-than-a-world-class-corporate-video-pump-up-the-hype-poke-at-the-curiosity-and-generate-a-sense-of-connection-within-your-masses-how-you-present-yourself-to-the-world-mattersand-a-perfectly-shot-video-is-a-great-step-to-ensure-your-brands-success-tks {
          display: flex;
          font-size: 1.4rem;
          font-weight: 400;
          font-family: Open Sans, 'Source Sans Pro';
          color: #6a6a6a;
          flex-shrink: 0;
          margin-bottom: 2.5rem;
          max-width: 37.9rem;
          line-height: 1.9285714286;
          letter-spacing: -0.034rem;
        }
        .a-NpT {
          width: 11.4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          font-size: 1.584rem;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          background-color: #ef5537;
          border-radius: 0.8rem;
          font-weight: 400;
          letter-spacing: -0.0317rem;
          justify-content: center;
          height: 3.8rem;
          line-height: 1.0999999759;
          white-space: nowrap;
        }
      }
    }
  }
  .auto-group-zkqt-bx7 {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.9rem 2rem 1rem 2rem;
    width: 100%;

    .love-from-our-customer-hVM {
      display: flex;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.3625;
      color: #ef5537;
      font-family: Open Sans, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 0rem 6.3rem 0.1rem;
      white-space: nowrap;
    }
    .frame-Adq {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      align-items: center;

      .auto-group-qyhd-u5d {
        height: 18.3rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 0.45rem;
        width: 100%;

        .vedant-sharma-cVq {
          width: 12.2rem;
          line-height: 1.375;
          letter-spacing: 0.05rem;
          height: 2.2rem;
          position: absolute;
          display: flex;
          color: #000000;
          top: 16.1rem;
          font-size: 1.6rem;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          left: 13.45rem;
          align-items: center;
          justify-content: center;
          font-weight: 400;
        }
        .frame-3b9 {
          box-shadow: 4rem 6rem 6rem rgba(0, 0, 0, 0.175999999);
          border-radius: 2rem;
          left: 0;
          top: 0;
          overflow: hidden;
          height: 14.1rem;
          position: absolute;
          background-color: #54387f;
          box-sizing: border-box;
          padding: 3rem 3.1rem 3rem 3rem;
          width: 39rem;

          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-vivamus-tempus-consectetur-mi-nec-hendrerit-integer-id-est-massa-vQ3 {
            font-family: Open Sans, 'Source Sans Pro';
            max-width: 32.9rem;
            display: flex;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.9285714286;
            letter-spacing: -0.0197rem;
            color: #ffffff;
          }
        }
        .star-1-UK5 {
          left: 14.0773rem;
          top: 5.9313rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.1rem;
          width: 10.9385rem;
          height: 10.9385rem;
          position: absolute;
        }
      }
      .local-guide-M7y {
        white-space: nowrap;
        display: flex;
        align-items: center;
        font-weight: 400;
        letter-spacing: -0.016rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 0rem 1.55rem 0.1rem;
        justify-content: center;
        font-size: 1.4rem;
        line-height: 1.3625;
      }
      .frame-56-1TR {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 14.2rem 0rem 13.8rem;
        width: calc(100% - 28rem);
        display: flex;

        .material-symbols-arrow-right-alt-sharp-i6w {
          width: 4rem;
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 10rem;
          flex-shrink: 0;
          margin-right: 3rem;
        }
        .material-symbols-arrow-right-alt-sharp-ZtF {
          width: 4rem;
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 10rem;
          flex-shrink: 0;
        }
      }
    }
  }
  .frame-Sh9 {
    background-image: url('REPLACE_IMAGE:ed08ed2e69e45fbff22e55ae1d57085fea9e3384');
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 7.95rem 11.4rem 14.2rem 11.4rem;
    width: 100%;
    height: 31.8rem;
    background-size: 364.92% 87.421%;
    background-position: -53.4578rem 4rem;

    .frame-MJK {
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .ready-to-start-your-video-tJF {
        margin-bottom: 1.65rem;
        display: flex;
        font-size: 1.6rem;
        line-height: 2.625;
        color: #2a2a2a;
        font-family: Open Sans, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        font-weight: 600;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .frame-Y7u {
        color: #ffffff;
        white-space: nowrap;
        background-color: #ef5537;
        border-radius: 0.5rem;
        flex-shrink: 0;
        display: flex;
        font-size: 1.6rem;
        margin: 0 4.4rem;
        line-height: 1.0625;
        align-items: center;
        justify-content: center;
        width: calc(100% - 8.8rem);
        height: 3.8rem;
        font-weight: 600;
        font-family: Open Sans, 'Source Sans Pro';
      }
    }
    .frame-Sh9-bg {
      width: 43rem;
      height: 31.8rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:ed08ed2e69e45fbff22e55ae1d57085fea9e3384');
    }
  }
  .frame-rH1 {
    display: flex;
    flex-direction: column;
    background-color: #6a6a6a;
    flex-shrink: 0;
    width: 100%;
    align-items: center;

    .section-aTu {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.975rem 2rem 2.725rem 2rem;
      width: 100%;
      height: 47.6rem;
      background-color: #6a6a6a;

      .div-V55 {
        width: 18.7rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-fppb-c9h {
          box-sizing: border-box;
          padding-bottom: 2.5rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .company-KZu {
            display: flex;
            line-height: 1.75;
            white-space: nowrap;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 2.1rem;
            font-size: 2rem;
            font-weight: 600;
          }
          .ul-oEB {
            margin-bottom: 2.7rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .about-us-KTR {
              margin-bottom: 0.2rem;
              display: flex;
              font-weight: 600;
              line-height: 1.3625;
              flex-shrink: 0;
              font-size: 1.6rem;
              color: #ffffff;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
            .our-work-QUs {
              color: #ffffff;
              margin-bottom: 0.1rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.3625;
              display: flex;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .our-blog-78P {
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              color: #f6f6f6;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
            .track-oder-pYb {
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              color: #f6f6f6;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .industries-jfZ {
            line-height: 1.75;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 2rem;
            font-weight: 600;
          }
        }
        .ul-3RM {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;

          .e-commerce-NCj {
            font-size: 1.6rem;
            line-height: 1.3625;
            flex-shrink: 0;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.2rem;
            display: flex;
            font-weight: 600;
          }
          .education-fSj {
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            font-weight: 600;
            line-height: 1.3625;
            font-family: Open Sans, 'Source Sans Pro';
            display: flex;
            font-size: 1.6rem;
          }
          .entertainment-mEs {
            display: flex;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            color: #f6f6f6;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .financial-services-s31 {
            line-height: 1.5;
            color: #f6f6f6;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.6rem;
            font-weight: 600;
          }
          .healthcare-n9y {
            font-weight: 600;
            line-height: 1.5;
            color: #f6f6f6;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.6rem;
          }
          .information-technology-gm9 {
            font-weight: 600;
            line-height: 1.5;
            color: #f6f6f6;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.6rem;
          }
          .marketing-advertising-zmq {
            flex-shrink: 0;
            display: flex;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            color: #f6f6f6;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .travel-hRM {
            color: #f6f6f6;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
          }
        }
      }
    }
    .section-bWj {
      background-color: #6a6a6a;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.65rem 2.1rem 3.2rem 2.1rem;
      width: 100%;
      height: 33.9rem;

      .div-HuM {
        width: 22.5rem;
        height: 100%;

        .div-dCX {
          margin-bottom: 1.15rem;
          display: flex;
          flex-direction: column;

          .phone-kY3 {
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.75;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            margin-bottom: 0.75rem;
            display: flex;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-91-9643313012-rLB {
            display: flex;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 2.5;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .div-Yio {
          margin-bottom: 3.95rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .email-UsM {
            margin-bottom: 1.15rem;
            font-size: 2rem;
            line-height: 1.75;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-weight: 600;
            color: #ffffff;
          }
          .salesmysterymonkscom-avP {
            line-height: 1.5;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.6rem;
            font-weight: 700;
          }
        }
        .div-5cF {
          display: flex;
          flex-direction: column;

          .social-cMH {
            display: flex;
            font-size: 2rem;
            font-weight: 600;
            white-space: nowrap;
            margin-bottom: 1.65rem;
            line-height: 1.75;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .div-7oq {
            height: 3.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 20rem;
          }
        }
      }
    }
    .section-2A7 {
      box-sizing: border-box;
      padding: 2.475rem 2rem 2.9rem 2rem;
      width: 100%;
      height: 10.6rem;
      background-color: #6a6a6a;
      flex-shrink: 0;

      .div-Kuu {
        width: 25.2rem;
        height: 100%;

        .copyright-mysterymonks-2023-G4T {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.75;
          color: #f6f6f6;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.425rem;
          display: flex;
        }
        .all-rights-reserved-ih9 {
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.2250000238;
          color: #ffffff;
        }
      }
    }
  }
}
