
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 43rem;
}.mobile-version-54X {
  box-sizing: border-box;
  padding-top: 2.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.mobile-version-54X .frame-59-Yio {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-version-54X .frame-59-Yio .auto-group-esx1-UMZ {
  box-sizing: border-box;
  padding: 0rem 2.8rem 1.35rem 2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-version-54X .frame-59-Yio .auto-group-esx1-UMZ .frame-MgF {
  margin: 0rem 0.7rem 4.05rem 1.5rem;
  width: calc(100% - 2.2rem);
  height: 3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mobile-version-54X .frame-59-Yio .auto-group-esx1-UMZ .frame-MgF .logo-2-3JB {
  margin-right: 18.9rem;
  width: 15.1rem;
  height: 3rem;
  position: relative;
  background-size: 99.338% 100%;
  background-position: 0.05rem 0;
  background-image: url('../assets/logo-2-o1m.png');
  flex-shrink: 0;
}
.mobile-version-54X .frame-59-Yio .auto-group-esx1-UMZ .frame-MgF .div-sY7 {
  margin: 0.6rem 0rem 0.2rem 0rem;
  width: 2rem;
  height: calc(100% - 0.8rem);
  row-gap: 0.5rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-version-54X .frame-59-Yio .auto-group-esx1-UMZ .frame-MgF .div-sY7 .span-MCP {
  width: 100%;
  height: 0.4rem;
  background-color: #ef5537;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.mobile-version-54X .frame-59-Yio .auto-group-esx1-UMZ .frame-MgF .div-sY7 .span-GKM {
  width: 1.4rem;
  height: 0.4rem;
  background-color: #ef5537;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.mobile-version-54X .frame-59-Yio .auto-group-esx1-UMZ .frame-MgF .div-sY7 .span-AQj {
  width: 100%;
  height: 0.4rem;
  background-color: #ef5537;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.mobile-version-54X .frame-59-Yio .auto-group-esx1-UMZ .best-animation-video-production-company-URR {
  max-width: 38.2rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.3618164062;
  color: #1a1a1a;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.mobile-version-54X .frame-59-Yio .auto-group-esx1-UMZ .best-animation-video-production-company-URR .best-animation-video-production-company-URR-sub-0 {
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #1a1a1a;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-version-54X .frame-59-Yio .auto-group-esx1-UMZ .best-animation-video-production-company-URR .best-animation-video-production-company-URR-sub-1 {
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #ef5537;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-version-54X .frame-59-Yio .auto-group-esx1-UMZ .best-animation-video-production-company-URR .best-animation-video-production-company-URR-sub-2 {
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #1a1a1a;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-version-54X .frame-59-Yio .auto-group-esx1-UMZ .best-animation-video-production-company-URR .best-animation-video-production-company-URR-sub-3 {
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #ef5537;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-version-54X .frame-59-Yio .auto-group-esx1-UMZ .best-animation-video-production-company-URR .best-animation-video-production-company-URR-sub-4 {
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #1a1a1a;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-version-54X .frame-59-Yio .auto-group-zxuq-PcF {
  width: 100%;
  height: 45.3rem;
  position: relative;
  flex-shrink: 0;
}
.mobile-version-54X .frame-59-Yio .auto-group-zxuq-PcF .rectangle-25-5zs {
  width: 43rem;
  height: 43.1rem;
  position: relative;
  left: 0;
  top: 2.2rem;
  background-size: 116.255% 116.005%;
  background-position: -1.988rem -0.1568rem;
  background-image: url('../assets/rectangle-25.png');
}
.mobile-version-54X .frame-59-Yio .auto-group-zxuq-PcF .according-to-forbes-a-video-can-boost-conversion-rate-by-80-and-grow-revenue-by-average-49-uyu {
  width: 39.1rem;
  height: 6.4rem;
  position: absolute;
  left: 2rem;
  top: 0;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2;
  color: #1a1a1a;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-version-54X .frame-59-Yio .auto-group-zxuq-PcF .ic-baseline-play-arrow-74P {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 18.5rem;
  top: 26.6rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 20rem;
}
.mobile-version-54X .frame-59-Yio .form-Nm1 {
  margin: 0 2rem;
  box-sizing: border-box;
  padding: 1.95rem 2.5rem 3.1rem 2.5rem;
  width: calc(100% - 4rem);
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #2a2a2a;
  flex-shrink: 0;
}
.mobile-version-54X .frame-59-Yio .form-Nm1 .speak-to-our-video-experts-DWj {
  margin: 0rem 0rem 1.95rem 0.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .frame-59-Yio .form-Nm1 .auto-group-fezh-539 {
  margin-bottom: 2rem;
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mobile-version-54X .frame-59-Yio .form-Nm1 .auto-group-fezh-539 .auto-group-twoh-akb {
  margin-right: 4rem;
  box-sizing: border-box;
  padding: 1.35rem 0rem 1.15rem 0rem;
  width: 15rem;
  height: 100%;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #ffffff;
  flex-shrink: 0;
}
.mobile-version-54X .frame-59-Yio .form-Nm1 .auto-group-fezh-539 .auto-group-f5f1-ZsR {
  box-sizing: border-box;
  padding: 1.35rem 0rem 1.15rem 0rem;
  width: 15rem;
  height: 100%;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #ffffff;
  flex-shrink: 0;
}
.mobile-version-54X .frame-59-Yio .form-Nm1 .auto-group-ro5d-PbZ {
  margin-bottom: 2rem;
  box-sizing: border-box;
  padding: 1.35rem 0rem 1.15rem 0rem;
  width: 100%;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #ffffff;
  flex-shrink: 0;
}
.mobile-version-54X .frame-59-Yio .form-Nm1 .auto-group-sxx1-dF1 {
  margin-bottom: 2rem;
  box-sizing: border-box;
  padding: 1.35rem 0rem 1.15rem 0rem;
  width: 100%;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #ffffff;
  flex-shrink: 0;
}
.mobile-version-54X .frame-59-Yio .form-Nm1 .auto-group-z4mq-TE3 {
  margin-bottom: 3rem;
  box-sizing: border-box;
  padding: 1.35rem 0;
  width: 100%;
  height: 13rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #ffffff;
  flex-shrink: 0;
}
.mobile-version-54X .frame-59-Yio .form-Nm1 .a-VRd {
  margin-right: 19.7rem;
  width: 14.3rem;
  height: 4.4rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4285714286;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w {
  box-sizing: border-box;
  padding: 6.1rem 0rem 4.3rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-48-ZK1 {
  margin-bottom: 7.1rem;
  width: 39rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-48-ZK1 .frame-47-TvB {
  margin: 0rem 6.7rem 5.5rem 6.8rem;
  width: calc(100% - 13.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-48-ZK1 .frame-47-TvB .our-clients-Ywd {
  margin-bottom: 0.5rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ef5537;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-48-ZK1 .frame-47-TvB .you-might-have-heard-of-them-2ro {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #54387f;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-48-ZK1 .div-izX {
  box-sizing: border-box;
  padding: 1.7rem 1rem 0rem 1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-48-ZK1 .div-izX .div-2VR {
  margin-bottom: 3.8962rem;
  width: 100%;
  height: 3.8038rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-48-ZK1 .div-izX .div-2VR .div-9a3 {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 3.5rem;
  align-items: center;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-48-ZK1 .div-izX .div-2VR .div-9a3 .shutterstock-logopng-skw {
  margin-bottom: 0.026rem;
  width: 10rem;
  height: 3.7778rem;
  position: relative;
  background-size: 100% 148.897%;
  background-position: 0 -0.9501rem;
  background-image: url('../assets/shutterstock-logopng.png');
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-48-ZK1 .div-izX .div-2VR .div-9a3 .shopifypng-hEB {
  width: 10rem;
  height: 3.8038rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-48-ZK1 .div-izX .div-2VR .div-9a3 .waveformjpg-zj5 {
  margin-bottom: 0.0538rem;
  width: 10rem;
  height: 3.75rem;
  position: relative;
  background-size: 100% 150%;
  background-position: 0 -1.1228rem;
  background-image: url('../assets/waveformjpg-rwm.png');
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-48-ZK1 .div-izX .frame-63-Ff1 {
  margin: 0 15rem;
  width: calc(100% - 30rem);
  display: flex;
  column-gap: 1rem;
  align-items: center;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-48-ZK1 .div-izX .frame-63-Ff1 .of-6-K95 {
  width: 1rem;
  height: 1rem;
  background-color: #ef5537;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-48-ZK1 .div-izX .frame-63-Ff1 .of-6-pbd {
  width: 1rem;
  height: 1rem;
  background-color: #cacaca;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-48-ZK1 .div-izX .frame-63-Ff1 .of-6-8sD {
  width: 1rem;
  height: 1rem;
  background-color: #cacaca;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-48-ZK1 .div-izX .frame-63-Ff1 .of-6-s47 {
  width: 1rem;
  height: 1rem;
  background-color: #cacaca;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-47-aDR {
  margin: 0rem 4rem 5.6rem 2rem;
  width: calc(100% - 6rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-47-aDR .portfolio-SmR {
  margin: 0rem 0rem 0.5rem 0.1rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ef5537;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-47-aDR .explore-some-of-the-work-were-especially-proud-of-pX5 {
  max-width: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #54387f;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-49-maj {
  margin-bottom: 4.7rem;
  width: 65.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-49-maj .group-2-euR {
  width: 100%;
  height: 2.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-49-maj .group-2-euR .auto-group-yojs-bTH {
  margin-right: 5rem;
  width: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #54387f;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.1rem #54387f;
  box-sizing: border-box;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-49-maj .group-2-euR .finance-CCB {
  margin-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #2a2a2a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-49-maj .group-2-euR .technology-sJK {
  margin-right: 5.05rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #2a2a2a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-49-maj .group-2-euR .education-Lxb {
  margin-right: 5.05rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #2a2a2a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-49-maj .group-2-euR .manufacturing-DFh {
  margin-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #2a2a2a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-49-maj .group-2-euR .retail-Vj1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #2a2a2a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-49-maj .auto-group-lqmh-bX9 {
  box-sizing: border-box;
  padding-top: 4.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-49-maj .auto-group-lqmh-bX9 .frame-62-hq5 {
  margin-bottom: 4rem;
  width: 39rem;
  row-gap: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-49-maj .auto-group-lqmh-bX9 .frame-62-hq5 .auto-group-ufy7-y1u {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-49-maj .auto-group-lqmh-bX9 .frame-62-hq5 .auto-group-ufy7-y1u .rectangle-34-gwu {
  margin-right: 2rem;
  width: 18.5rem;
  height: 10.3rem;
  position: relative;
  background-size: 100% 101.032%;
  background-position: 0 -0.0454rem;
  background-image: url('../assets/rectangle-34.png');
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-49-maj .auto-group-lqmh-bX9 .frame-62-hq5 .auto-group-ufy7-y1u .rectangle-35-LFm {
  width: 18.5rem;
  height: 10.3rem;
  position: relative;
  background-size: 100% 101.032%;
  background-position: 0 -0.0454rem;
  background-image: url('../assets/rectangle-35.png');
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-49-maj .auto-group-lqmh-bX9 .frame-62-hq5 .auto-group-fnsx-Z8X {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-49-maj .auto-group-lqmh-bX9 .frame-62-hq5 .auto-group-fnsx-Z8X .rectangle-36-giw {
  margin-right: 2rem;
  width: 18.5rem;
  height: 10.4rem;
  position: relative;
  background-size: 100% 100.06%;
  background-position: 0 0.0699rem;
  background-image: url('../assets/rectangle-36.png');
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-49-maj .auto-group-lqmh-bX9 .frame-62-hq5 .auto-group-fnsx-Z8X .rectangle-37-MKH {
  width: 18.5rem;
  height: 10.4rem;
  position: relative;
  background-size: 100% 100.06%;
  background-position: 0 0.0699rem;
  background-image: url('../assets/rectangle-37.png');
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-49-maj .auto-group-lqmh-bX9 .frame-62-hq5 .auto-group-hgh1-18w {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-49-maj .auto-group-lqmh-bX9 .frame-62-hq5 .auto-group-hgh1-18w .rectangle-38-KvK {
  margin-right: 2rem;
  width: 18.5rem;
  height: 10.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-49-maj .auto-group-lqmh-bX9 .frame-62-hq5 .auto-group-hgh1-18w .rectangle-39-2Zq {
  width: 18.5rem;
  height: 10.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-49-maj .auto-group-lqmh-bX9 .frame-wB1 {
  margin-left: 10.8rem;
  width: 17.5rem;
  height: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #ef5537;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #ef5537;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 20rem;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-51-WtK {
  margin: 0rem 0rem 5.8rem 0.15rem;
  width: 111.5rem;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-51-WtK .frame-47-DGw {
  margin: 0rem 72.8rem 6.45rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-51-WtK .frame-47-DGw .about-us-6Lj {
  margin-bottom: 1.8rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ef5537;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-51-WtK .frame-47-DGw .about-our-video-creation-company-amh {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #54387f;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-51-WtK .frame-50-4Ry {
  margin-bottom: 4.3rem;
  width: 100%;
  height: 28.65rem;
  position: relative;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-51-WtK .frame-50-4Ry .frame-11-MR5 {
  width: 38.7rem;
  height: 28.65rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-51-WtK .frame-50-4Ry .frame-11-MR5 .frame-15-fAs {
  margin: 0rem 7.05rem 2.5rem 10.15rem;
  width: calc(100% - 17.2rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-51-WtK .frame-50-4Ry .frame-11-MR5 .frame-15-fAs .item-2000-x9y {
  margin-top: 0.85rem;
  display: flex;
  font-size: 8rem;
  font-weight: 600;
  line-height: 1.3625;
  letter-spacing: 0.05rem;
  color: #54387f;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-51-WtK .frame-50-4Ry .frame-11-MR5 .frame-15-fAs .item--29q {
  display: flex;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.3625;
  letter-spacing: 0.05rem;
  color: #54387f;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-51-WtK .frame-50-4Ry .frame-11-MR5 .clients-served-sw9 {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  color: #2a2a2a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-51-WtK .frame-50-4Ry .frame-11-MR5 .weve-been-doing-this-for-years-and-will-be-doing-it-for-many-more-our-client-count-has-touched-the-2k-bar-and-continues-to-grow-with-uninterrupted-momentum-A9Z {
  max-width: 38.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #6a6a6a;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-51-WtK .frame-50-4Ry .frame-9-91V {
  width: 98.3rem;
  height: 23.45rem;
  position: absolute;
  left: 13.2rem;
  top: 0.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-51-WtK .frame-50-4Ry .frame-9-91V .frame-15-RDu {
  margin: 0rem 41.45rem 2.5rem 44.55rem;
  width: calc(100% - 86rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-51-WtK .frame-50-4Ry .frame-9-91V .frame-15-RDu .item-17-vAf {
  margin-top: 0.65rem;
  display: flex;
  font-size: 8rem;
  font-weight: 600;
  line-height: 1.3625;
  letter-spacing: 0.05rem;
  color: #54387f;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-51-WtK .frame-50-4Ry .frame-9-91V .frame-15-RDu .item--CP5 {
  display: flex;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.3625;
  letter-spacing: 0.05rem;
  color: #54387f;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-51-WtK .frame-50-4Ry .frame-9-91V .countries-served-HQX {
  margin-bottom: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  color: #2a2a2a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-51-WtK .frame-50-4Ry .frame-9-91V .not-one-not-twoweve-gone-global-exorbitantly-weve-served-more-than-7-countries-and-are-excited-to-add-new-names-to-our-list-yYF {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #6a6a6a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-51-WtK .frame-52-zCT {
  margin: 0rem 90.65rem 0rem 17.85rem;
  width: calc(100% - 108.5rem);
  display: flex;
  align-items: center;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-51-WtK .frame-52-zCT .of-6-gb5 {
  margin-right: 1rem;
  width: 1rem;
  height: 1rem;
  background-color: #ef5537;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-51-WtK .frame-52-zCT .of-6-MhD {
  width: 1rem;
  height: 1rem;
  background-color: #cacaca;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-53-egK {
  margin-left: 0.1rem;
  width: 38.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-53-egK .frame-48-A8s {
  margin: 0rem 1.65rem 5.5rem 1.55rem;
  width: calc(100% - 3.2rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-53-egK .frame-48-A8s .why-us-T7y {
  margin: 0rem 0rem 0.5rem 0.1rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ef5537;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-53-egK .frame-48-A8s .why-choose-mystery-monks-as-your-video-production-and-animation-company-7CX {
  max-width: 35.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #54387f;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-53-egK .div-kFV {
  margin-bottom: 3.7rem;
  box-sizing: border-box;
  padding: 2.2rem 3.5rem 4.2rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.15rem #ebebeb;
  background-color: #ffffff;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-53-egK .div-kFV .thumbs-up-solid-1-3VV {
  margin-bottom: 2.5246rem;
  width: 5rem;
  height: 4.3754rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-53-egK .div-kFV .div-wKy {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-53-egK .div-kFV .div-wKy .error-free-delivery-sjR {
  margin-bottom: 1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: -0.02rem;
  color: #2a2a2a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-53-egK .div-kFV .div-wKy .our-creative-directors-ensure-thorough-quality-checks-before-any-deliverable-script-voice-over-renders-animation-etc-goes-out-to-you-koD {
  max-width: 33.4rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #6a6a6a;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-53-egK .frame-54-XBh {
  margin: 0rem 16rem 0rem 15.9rem;
  width: calc(100% - 31.9rem);
  display: flex;
  column-gap: 1rem;
  align-items: center;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-53-egK .frame-54-XBh .of-6-1Mm {
  width: 1rem;
  height: 1rem;
  background-color: #ef5537;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-53-egK .frame-54-XBh .of-6-uxw {
  width: 1rem;
  height: 1rem;
  background-color: #cacaca;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-53-egK .frame-54-XBh .of-6-SCB {
  width: 1rem;
  height: 1rem;
  background-color: #cacaca;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-a5ns-58w .frame-53-egK .frame-54-XBh .of-6-ZGo {
  width: 1rem;
  height: 1rem;
  background-color: #cacaca;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.mobile-version-54X .frame-55-FvK {
  box-sizing: border-box;
  padding: 1.8rem 1.9rem 0.3rem 2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  flex-shrink: 0;
}
.mobile-version-54X .frame-55-FvK .types-of-videos-YPd {
  margin-bottom: 4.9rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ef5537;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .frame-55-FvK .div-Dkf {
  margin: 0rem 0.1rem 3.871rem 0rem;
  width: 39rem;
  height: 22rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.mobile-version-54X .frame-55-FvK .div-6Jf {
  margin: 0rem 0.1rem 5.8rem 0rem;
  width: 39rem;
  flex-shrink: 0;
}
.mobile-version-54X .frame-55-FvK .div-6Jf .animated-explainer-video-QKM {
  margin-bottom: 1.2289rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3625;
  letter-spacing: -0.1296rem;
  color: #2a2a2a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-version-54X .frame-55-FvK .div-6Jf .div-sij {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.mobile-version-54X .frame-55-FvK .div-6Jf .div-sij .its-about-time-that-we-throw-out-the-old-ways-of-communicating-with-our-prospects-be-it-a-document-an-image-or-a-presentationtheres-always-something-amiss-catch-up-with-the-current-era-animated-explainer-videos-not-only-get-your-brand-message-across-but-also-give-the-extra-little-push-to-convert-a-maybe-to-a-definite-yes-be-it-a-2d-or-a-3d-video-produced-by-our-explainer-video-company-the-ensemble-of-attractive-visuals-a-breathtaking-voice-over-with-a-mind-blowing-concept-is-unbeatable-Qif {
  margin-bottom: 2.5rem;
  max-width: 39rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.9285714286;
  letter-spacing: -0.034rem;
  color: #6a6a6a;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.mobile-version-54X .frame-55-FvK .div-6Jf .div-sij .a-1rs {
  width: 11.4rem;
  height: 3.8rem;
  display: flex;
  font-size: 1.584rem;
  font-weight: 400;
  line-height: 1.0999999759;
  letter-spacing: -0.0317rem;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #ef5537;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.mobile-version-54X .frame-55-FvK .div-aS7 {
  margin: 0rem 0.1rem 3.871rem 0rem;
  width: 39rem;
  height: 22rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.mobile-version-54X .frame-55-FvK .div-r8j {
  margin-bottom: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-version-54X .frame-55-FvK .div-r8j .product-explainer-video-yUF {
  margin-bottom: 1.2289rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3625;
  letter-spacing: -0.1296rem;
  color: #2a2a2a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .frame-55-FvK .div-r8j .div-2hR {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-version-54X .frame-55-FvK .div-r8j .div-2hR .what-influences-people-to-buy-one-product-but-not-the-other-is-it-its-composition-its-featuresor-maybe-its-appearance-we-as-a-explainer-video-company-think-how-you-market-your-product-is-what-determines-how-well-it-sells-and-a-2d-or-3d-product-explainer-video-showcasing-your-products-features-appearance-and-composition-can-build-your-sales-from-level-zero-to-infinity-dont-just-advertise-for-the-sake-of-doing-itbe-a-pro-with-a-unique-product-explainer-video-NFV {
  margin-bottom: 2.5rem;
  max-width: 39.1rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.9285714286;
  letter-spacing: -0.034rem;
  color: #6a6a6a;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.mobile-version-54X .frame-55-FvK .div-r8j .div-2hR .a-P47 {
  width: 11.4rem;
  height: 3.8rem;
  display: flex;
  font-size: 1.584rem;
  font-weight: 400;
  line-height: 1.0999999759;
  letter-spacing: -0.0317rem;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #ef5537;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.mobile-version-54X .frame-55-FvK .div-aeP {
  margin: 0rem 0.1rem 3.871rem 0rem;
  width: 39rem;
  height: 22rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.mobile-version-54X .frame-55-FvK .div-GGK {
  margin: 0rem 0.3rem 5rem 0rem;
  width: 38.8rem;
  flex-shrink: 0;
}
.mobile-version-54X .frame-55-FvK .div-GGK .whiteboard-explainer-video-xuq {
  margin-bottom: 1.2289rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3625;
  letter-spacing: -0.1296rem;
  color: #2a2a2a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-version-54X .frame-55-FvK .div-GGK .div-dm5 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.mobile-version-54X .frame-55-FvK .div-GGK .div-dm5 .keep-it-simple-whiteboard-explainer-videos-give-your-audience-a-ride-back-through-nostalgia-lane-remember-how-your-teacher-could-solve-a-complex-physics-equation-on-the-board-and-make-it-look-so-simple-well-a-whiteboard-explainer-video-does-the-same-for-your-business-get-your-brand-message-across-in-the-most-understandable-way-possible-and-enjoy-the-topping-of-mouthwatering-swiftness-and-eye-catching-visuals-your-next-pit-stop-should-definitely-be-our-explainer-video-company-Nif {
  margin-bottom: 2.5rem;
  max-width: 38.8rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.9285714286;
  letter-spacing: -0.034rem;
  color: #6a6a6a;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.mobile-version-54X .frame-55-FvK .div-GGK .div-dm5 .a-pDH {
  width: 11.4rem;
  height: 3.8rem;
  display: flex;
  font-size: 1.584rem;
  font-weight: 400;
  line-height: 1.0999999759;
  letter-spacing: -0.0317rem;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #ef5537;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.mobile-version-54X .frame-55-FvK .div-TGF {
  margin: 0rem 0.1rem 3.871rem 0rem;
  width: 39rem;
  height: 22rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.mobile-version-54X .frame-55-FvK .div-995 {
  margin-right: 1.2rem;
  width: 37.9rem;
  flex-shrink: 0;
}
.mobile-version-54X .frame-55-FvK .div-995 .live-shoot-fdD {
  margin-bottom: 1.2289rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3625;
  letter-spacing: -0.1296rem;
  color: #2a2a2a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-version-54X .frame-55-FvK .div-995 .div-Ywu {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.mobile-version-54X .frame-55-FvK .div-995 .div-Ywu .impressions-are-important-and-nothing-can-help-you-introduce-your-brand-to-the-world-better-than-a-world-class-corporate-video-pump-up-the-hype-poke-at-the-curiosity-and-generate-a-sense-of-connection-within-your-masses-how-you-present-yourself-to-the-world-mattersand-a-perfectly-shot-video-is-a-great-step-to-ensure-your-brands-success-tks {
  margin-bottom: 2.5rem;
  max-width: 37.9rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.9285714286;
  letter-spacing: -0.034rem;
  color: #6a6a6a;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.mobile-version-54X .frame-55-FvK .div-995 .div-Ywu .a-NpT {
  width: 11.4rem;
  height: 3.8rem;
  display: flex;
  font-size: 1.584rem;
  font-weight: 400;
  line-height: 1.0999999759;
  letter-spacing: -0.0317rem;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #ef5537;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-zkqt-bx7 {
  box-sizing: border-box;
  padding: 4.9rem 2rem 1rem 2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-zkqt-bx7 .love-from-our-customer-hVM {
  margin: 0rem 0rem 6.3rem 0.1rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ef5537;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-zkqt-bx7 .frame-Adq {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-zkqt-bx7 .frame-Adq .auto-group-qyhd-u5d {
  margin-bottom: 0.45rem;
  width: 100%;
  height: 18.3rem;
  position: relative;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-zkqt-bx7 .frame-Adq .auto-group-qyhd-u5d .vedant-sharma-cVq {
  width: 12.2rem;
  height: 2.2rem;
  position: absolute;
  left: 13.45rem;
  top: 16.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.05rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-version-54X .auto-group-zkqt-bx7 .frame-Adq .auto-group-qyhd-u5d .frame-3b9 {
  box-sizing: border-box;
  padding: 3rem 3.1rem 3rem 3rem;
  width: 39rem;
  height: 14.1rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  box-shadow: 4rem 6rem 6rem rgba(0, 0, 0, 0.175999999);
  background-color: #54387f;
  border-radius: 2rem;
}
.mobile-version-54X .auto-group-zkqt-bx7 .frame-Adq .auto-group-qyhd-u5d .frame-3b9 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-vivamus-tempus-consectetur-mi-nec-hendrerit-integer-id-est-massa-vQ3 {
  max-width: 32.9rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.9285714286;
  letter-spacing: -0.0197rem;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-version-54X .auto-group-zkqt-bx7 .frame-Adq .auto-group-qyhd-u5d .star-1-UK5 {
  width: 10.9385rem;
  height: 10.9385rem;
  position: absolute;
  left: 14.0773rem;
  top: 5.9313rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.1rem;
}
.mobile-version-54X .auto-group-zkqt-bx7 .frame-Adq .local-guide-M7y {
  margin: 0rem 0rem 1.55rem 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: -0.016rem;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-zkqt-bx7 .frame-Adq .frame-56-1TR {
  margin: 0rem 14.2rem 0rem 13.8rem;
  width: calc(100% - 28rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-zkqt-bx7 .frame-Adq .frame-56-1TR .material-symbols-arrow-right-alt-sharp-i6w {
  margin-right: 3rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.mobile-version-54X .auto-group-zkqt-bx7 .frame-Adq .frame-56-1TR .material-symbols-arrow-right-alt-sharp-ZtF {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.mobile-version-54X .frame-Sh9 {
  box-sizing: border-box;
  padding: 7.95rem 11.4rem 14.2rem 11.4rem;
  width: 100%;
  height: 31.8rem;
  background-size: 364.92% 87.421%;
  background-position: -53.4578rem 4rem;
  background-image: url('../assets/frame-bg-WpK.png');
  flex-shrink: 0;
}
.mobile-version-54X .frame-Sh9 .frame-MJK {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.mobile-version-54X .frame-Sh9 .frame-MJK .ready-to-start-your-video-tJF {
  margin-bottom: 1.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.625;
  color: #2a2a2a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .frame-Sh9 .frame-MJK .frame-Y7u {
  margin: 0 4.4rem;
  width: calc(100% - 8.8rem);
  height: 3.8rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.0625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #ef5537;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.mobile-version-54X .frame-Sh9 .frame-Sh9-bg {
  width: 43rem;
  height: 31.8rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:ed08ed2e69e45fbff22e55ae1d57085fea9e3384');
}
.mobile-version-54X .frame-rH1 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #6a6a6a;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-aTu {
  box-sizing: border-box;
  padding: 1.975rem 2rem 2.725rem 2rem;
  width: 100%;
  height: 47.6rem;
  background-color: #6a6a6a;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-aTu .div-V55 {
  width: 18.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.mobile-version-54X .frame-rH1 .section-aTu .div-V55 .auto-group-fppb-c9h {
  box-sizing: border-box;
  padding-bottom: 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-aTu .div-V55 .auto-group-fppb-c9h .company-KZu {
  margin-bottom: 2.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.75;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-aTu .div-V55 .auto-group-fppb-c9h .ul-oEB {
  margin-bottom: 2.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-aTu .div-V55 .auto-group-fppb-c9h .ul-oEB .about-us-KTR {
  margin-bottom: 0.2rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-aTu .div-V55 .auto-group-fppb-c9h .ul-oEB .our-work-QUs {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-aTu .div-V55 .auto-group-fppb-c9h .ul-oEB .our-blog-78P {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #f6f6f6;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-aTu .div-V55 .auto-group-fppb-c9h .ul-oEB .track-oder-pYb {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #f6f6f6;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-aTu .div-V55 .auto-group-fppb-c9h .industries-jfZ {
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.75;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-aTu .div-V55 .ul-3RM {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-aTu .div-V55 .ul-3RM .e-commerce-NCj {
  margin-bottom: 0.2rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-aTu .div-V55 .ul-3RM .education-fSj {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-aTu .div-V55 .ul-3RM .entertainment-mEs {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #f6f6f6;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-aTu .div-V55 .ul-3RM .financial-services-s31 {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #f6f6f6;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-aTu .div-V55 .ul-3RM .healthcare-n9y {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #f6f6f6;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-aTu .div-V55 .ul-3RM .information-technology-gm9 {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #f6f6f6;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-aTu .div-V55 .ul-3RM .marketing-advertising-zmq {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #f6f6f6;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-aTu .div-V55 .ul-3RM .travel-hRM {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #f6f6f6;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-bWj {
  box-sizing: border-box;
  padding: 1.65rem 2.1rem 3.2rem 2.1rem;
  width: 100%;
  height: 33.9rem;
  background-color: #6a6a6a;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-bWj .div-HuM {
  width: 22.5rem;
  height: 100%;
}
.mobile-version-54X .frame-rH1 .section-bWj .div-HuM .div-dCX {
  margin-bottom: 1.15rem;
  display: flex;
  flex-direction: column;
}
.mobile-version-54X .frame-rH1 .section-bWj .div-HuM .div-dCX .phone-kY3 {
  margin-bottom: 0.75rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.75;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-bWj .div-HuM .div-dCX .item-91-9643313012-rLB {
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-bWj .div-HuM .div-Yio {
  margin-bottom: 3.95rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.mobile-version-54X .frame-rH1 .section-bWj .div-HuM .div-Yio .email-UsM {
  margin-bottom: 1.15rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.75;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-bWj .div-HuM .div-Yio .salesmysterymonkscom-avP {
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-bWj .div-HuM .div-5cF {
  display: flex;
  flex-direction: column;
}
.mobile-version-54X .frame-rH1 .section-bWj .div-HuM .div-5cF .social-cMH {
  margin-bottom: 1.65rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.75;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-bWj .div-HuM .div-5cF .div-7oq {
  width: 20rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-2A7 {
  box-sizing: border-box;
  padding: 2.475rem 2rem 2.9rem 2rem;
  width: 100%;
  height: 10.6rem;
  background-color: #6a6a6a;
  flex-shrink: 0;
}
.mobile-version-54X .frame-rH1 .section-2A7 .div-Kuu {
  width: 25.2rem;
  height: 100%;
}
.mobile-version-54X .frame-rH1 .section-2A7 .div-Kuu .copyright-mysterymonks-2023-G4T {
  margin-bottom: 0.425rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  color: #f6f6f6;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-version-54X .frame-rH1 .section-2A7 .div-Kuu .all-rights-reserved-ih9 {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2250000238;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
