
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 67.9rem;
}.popup-form-JEF {
  width: 100%;
  height: 62.3rem;
}
.popup-form-JEF .frame-67-ahZ {
  box-sizing: border-box;
  padding: 2.9rem 3.4rem 4.7rem 4rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.popup-form-JEF .frame-67-ahZ .get-a-quote-Szf {
  margin: 0rem 45.1rem 3.5rem 0rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #2a2a2a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.popup-form-JEF .frame-67-ahZ .auto-group-djf9-UAf {
  margin-bottom: 3.8rem;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.popup-form-JEF .frame-67-ahZ .auto-group-djf9-UAf .auto-group-xqib-Zxo {
  margin-right: 3.5rem;
  box-sizing: border-box;
  padding: 1.1rem 0.5rem 1.7rem 0.5rem;
  width: 28.5rem;
  height: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #6a6a6a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #ebebeb;
  flex-shrink: 0;
}
.popup-form-JEF .frame-67-ahZ .auto-group-djf9-UAf .auto-group-3bn3-9w1 {
  box-sizing: border-box;
  padding: 1.1rem 0.5rem 1.7rem 0.5rem;
  width: 28.5rem;
  height: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #6a6a6a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #ebebeb;
  flex-shrink: 0;
}
.popup-form-JEF .frame-67-ahZ .auto-group-btrz-kvo {
  margin-bottom: 3.5rem;
  box-sizing: border-box;
  padding: 1.1rem 0.5rem 1.7rem 0.5rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #6a6a6a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #ebebeb;
  flex-shrink: 0;
}
.popup-form-JEF .frame-67-ahZ .auto-group-rdtq-CH1 {
  margin-bottom: 3.2rem;
  box-sizing: border-box;
  padding: 1.1rem 0.5rem 1.7rem 0.5rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #6a6a6a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #ebebeb;
  flex-shrink: 0;
}
.popup-form-JEF .frame-67-ahZ .auto-group-y9mv-EDh {
  margin-bottom: 4.7rem;
  box-sizing: border-box;
  padding: 0 0.5rem;
  width: 100%;
  height: 12.7rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #6a6a6a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #ebebeb;
  flex-shrink: 0;
}
.popup-form-JEF .frame-67-ahZ .a-rF5 {
  margin: 0rem 0.038rem 0rem 45.7rem;
  box-sizing: border-box;
  padding: 1.5rem 2.101rem 1.5rem 2.8rem;
  width: calc(100% - 45.7375rem);
  display: flex;
  align-items: center;
  background-color: #ef5537;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.popup-form-JEF .frame-67-ahZ .a-rF5 .submit-W4j {
  margin-right: 2.5636rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.25;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.popup-form-JEF .frame-67-ahZ .a-rF5 .carbon-send-alt-Ncj {
  margin-bottom: 0.0001rem;
  width: 1.7979rem;
  height: 1.8001rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
